.container {
  /* width: 900px; */
  margin: 50px auto;
  background-color: lightgray;
  display: grid;
  /* display: inline-grid; */
  grid-template-columns: 50px 50px 50px;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: repeat(3, auto); */
  /* grid-template-columns: 1fr 2fr 3fr; */
  /* grid-template-columns: 1fr 2fr 50%; */
  grid-template-rows: 300px 300px;
  /* grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) ); */
  grid-gap: 20px;
  grid-row-gap: 50px;
  /* justify-content: flex-end; */
}

.item-1 {
  background-color: #581B45;
/*   grid-column-start: 1;
  grid-column-end: 3; */
}

.item-2 {
  background-color: #900C3F;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-3 {
  background-color: #C70039;
}

.item-4 {
  background-color: #FF5733;
}

.item-5 {
  background-color: #FFC30F;
}

.item-6 {
  background-color: #FFEEAD;
}