* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.guessText {
  letter-spacing: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 30px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px;
}
.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e9e7;
  border-bottom: 1px solid black;
}
.main-container {
  margin: 50px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 20%;
  margin: auto;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(85, 157, 199);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.buttonGuess {
  width: 60px;
  height: 40px;
  border: none;
  box-shadow: 5px 5px 2px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttonGuess:hover{
  background-color: #e4dede;
}
.buttonGuess:active{
  transform:translate(3px,3px);
  box-shadow: 2px 2px 2px;

}
.guessWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.user {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-icon {
  width: 60px;
  height: 60px;
  background-color: #9a9a9a;
  border-radius: 50%;
}
